{% extends 'base.html' %}

{% block content %}
    <div class="container sm">
        <form method="POST">
            {{ form.email.label() }}
            {{ form.email(class="form-control", placeholder="Email")}}

            {{ form.password.label() }}
            {{ form.password(class="form-control", placeholder="Password")}}

            {{ form.submit(class="btn btn-primary") }}
        </form>
        <br>
        <br>
        
         <h3>Register</h3>
        <a class="btn btn-secondary" href="{{ url_for('register_page') }}">Register Page</a>
    </div>

    
{% endblock %}